<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spencer Foote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="dist/css/lightbox.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <a href="index.html">
            <div class="signature">
                <h5 class="signature-heading">Spencer Foote</h5>
                <h3 class="signature-subhead">photography</h3>
            </div>
        </a>
    </header>
    <div class="container">
        <nav class="navbar navbar-expand-md p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="trigger">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>

            </button>
            <div class="collapse navbar-collapse d-md-flex justify-content-center" id="trigger">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="navlink">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Contact</a>
                    </li>
                </ul>

            </div>

        </nav>
    </div>

<section class="about py-5">
    <div class="container">
        <div class="about-content">
            <div class="signature">
                <div class="about-description">
                    <h5 class="signature-heading">Spencer Foote</h5>
                    <p class="m-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, tenetur?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolor modi sunt in quod voluptatem labore earum quos rem libero!</p>
                </div>
            </div>
            <div class="about-image">
                <img src="images/photographer.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="gallery py-5">
    <div class="container">
        <div class="section-heading">
            <h1 class="heading-title text-center">Latest Work</h1>
        </div>
        <div class="row no-gutters">
            <div class="lightbox-content col-12 col-sm-6">
                <a href="images/img-1.jpg" data-lightbox="photograph">
                <img src="images/img-1.jpg" class="img-fluid" alt="">
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit laborum ipsum molestias veniam atque quia provident eveniet reiciendis corrupti.</p>
            </div>

            <div class="lightbox-content col-12 col-sm-6">
                <a href="images/img-2.jpg" data-lightbox="photograph">
                <img src="images/img-2.jpg" class="img-fluid" alt="">
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit laborum ipsum molestias veniam atque quia provident eveniet reiciendis corrupti.</p>
            </div>

            <div class="lightbox-content col-12 col-sm-6">
                <a href="images/img-3.jpg" data-lightbox="photograph">
                <img src="images/img-3.jpg" class="img-fluid" alt="">
                </a>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit laborum ipsum molestias veniam atque quia provident eveniet reiciendis corrupti.</p>
            </div>
        </div>
    </div>
</section>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="dist/js/lightbox-plus-jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>